body::-webkit-scrollbar { 
    display: none; 
}

html, body {
    margin: 0; 
    height: 100%; 
    overflow: hidden
}

.white {
    color: white!important;
}

#components-layout-demo-top-side-2 .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 28px 16px 0;
    float: left;
}

/* .mapBase {
    background: url("./components/island.png");
    background-size: cover;
} */

.gain {
    color: rgb(43, 156, 43)!important;
}

.loss { 
    color: rgb(200, 90, 90)!important;
}
